@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap");
:root {
    --main-black: #171717;
    --main-gray: #383838;
    --main-white: #fbfbfb;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Poppins";
    transition: all 0.3s;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--main-white);
    padding: 2rem 5rem;
}

h1{
    font-size: xxx-large;
    font-weight: 600;
}

.gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    transition: all 0.3s; 
}

picture{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    width: 200px;
    text-align: center;
}

.pageNumbers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.pageNumbers button{
    margin: 0.5rem;
    padding: 0 1rem;
    transition: all 0.3s; 
    border-radius: 5px;
    border: 1.8px solid var(--main-black);
    background: var(--main-white);
}

button.active{
    background: var(--main-gray);
    color: var(--main-white);
    border: 1px solid transparent;
}

input[type=number]{
    width: 4rem;
    outline: none;
}

input[type=button]{
    padding: 0 0.5rem;
    outline: none;
    border-radius: 5px;
    border: 1.8px solid var(--main-black);
    background: var(--main-white);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    
    font-size: small;
    width: 100%;
}