@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Poppins";
    transition: all 0.3s;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #f6f6f6;
    padding: 2rem 5rem;
}

h1{
    font-size: xxx-large;
    font-weight: 600;
}

.gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    transition: all 0.3s; 
}

picture{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    width: 200px;
    text-align: center;
}

.pageNumbers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pageNumbers button{
    margin: 0.5rem;
    background-color: #f6f6f6;
    padding: 0 1rem;
    transition: all 0.3s; 
}

button.active{
    background: #383838;
    border: none;
    color: #f6f6f6;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    
    font-size: small;
    width: 100%;
}